/* src\pages\Cadastro\styles.css */

.pagina-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 32px;
    background-color: #f4f4f4; 
  }